<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<div th:fragment="footer">

		<div class="site-footer">
			<div class="footer-container">
				<div class="footer-columns">
					<div class="footer-left">
						<a href="#">はてなブログ</a>
						<a href="#">Instagram</a>
					</div>
					<div class="footer-right">
						<a href="#">お問い合わせ</a>
						<a href="#">プライバシーポリシー</a>
					</div>
				</div>
				<div class="copyright">© 2025 ○○ All rights reserved.</div>
			</div>
		</div>

	</div>


</body>

</html>