<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>選択結果</title>
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<link rel="stylesheet" th:href="@{/css/answer.css}" />

	<!-- zen-maru-gothic-regular -->
	<link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet">

	<!-- 外部JSファイルの読み込み -->
	<script th:src="@{/js/answer.js}" defer></script>
	<script th:src="@{/js/style.js}" defer></script>
</head>

<body>
	<div class="zen-maru-gothic-regular">
		<p id="display-time"></p>

		<h1>あなたの正答率は [[${correctRate}]]% です。</h1>

		<div th:each="result, s : ${userResults}">
			<div class="result-card" th:classappend="${result.match} ? ' correct-card' : ' incorrect-card'">
				<div class="result-icon">
					<span th:text="${result.match} ? '○' : '×'"></span>
				</div>

				<div class="result-content">
					<p class="question">問題[[${s.count}]]</p>
					<p th:text="|第${result.testNumber.testNumberId}回 ${result.time.time}問題 ${result.questionNumber}　　${result.koumoku.sKoumoku}|"
						class="question-meta"></p>
						<span class="value">問題文：[[${result.question}]]</span>
					<p><span class="label">あなたの選択肢：</span><span class="value" th:text="${result.userAnswer}"></span></p>
					<p><span class="label">答え：</span><span class="value" th:text="${result.correctAnswer}"></span></p>
					<div class="explanation">
						<a href="javascript:void(0);" class="toggle-explanation">解説を見る</a>
						<span class="explanation-content">[[${result.explanation}]]</span>
					</div>
				</div>
			
				<!--if文を付けて関連記事があればこのボタンを表示するように設定する予定-->
					<a class="related-link" href="https://example.com" target="_blank" rel="noopener noreferrer">
						<button class="zen-maru-gothic-regular" type="button">関連問題を確認！</button>
					</a>

			</div>
		</div>
		<a th:href="@{/}">
			<button type="button">メニューへ戻る</button>
		</a>
		<form th:action="@{/challenge/{no}(no=${questionCount})}" method="get">
			<button>もう一度問題を解く</button>
		</form>
	</div>
</body>

</html>