<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>問題集</title>
</head>

<body>
	<h2>Quizzes</h2>
	<form th:action="@{/result}" method="post">
		<div th:each="q, s : ${quizList}">

			<hr>
			<p>問題[[${s.count}]]：[[${q.question}]]</p>
			<p th:text="|（第${q.testNumber.testNumberId}回 ${q.time.time}問題 ${q.questionNumber}）|"></p>
			<label>
				<input type="radio" th:name="|userAnswerQuestionNo${s.count}|" th:value="|1. ${q.choice1}|" required>1.
				[[${q.choice1}]]
			</label>
			<br>
			<label>
				<input type="radio" th:name="|userAnswerQuestionNo${s.count}|" th:value="|2. ${q.choice2}|">2.
				[[${q.choice2}]]
			</label>
			<br>
			<label>
				<input type="radio" th:name="|userAnswerQuestionNo${s.count}|" th:value="|3. ${q.choice3}|">3.
				[[${q.choice3}]]
			</label>
			<br>
			<label>
				<input type="radio" th:name="|userAnswerQuestionNo${s.count}|" th:value="|4. ${q.choice4}|">4.
				[[${q.choice4}]]
			</label>
			<br>
			<div th:if="${q.choice5 != null}">
				<label>
					<input type="radio" th:name="|userAnswerQuestionNo${s.count}|" th:value="|5. ${q.choice5}|">5.
					[[${q.choice5}]]
				</label>
				<br>
			</div>
		</div>
		<button type="submit">解答へ送信</button>
	</form>
	<a th:href="@{/}">
		<button type="button">メニューへ戻る</button>
	</a>

</body>

</html>