<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>問題登録・編集フォーム</title>
</head>

<body>
	<p th:if="${message}" th:text="${message}" style="color: blue;">新規登録完了メッセージ</p>
	<!--	タイトル：登録 or 編集-->
	<h2 th:if="${quizForm.isNew}">新規問題登録</h2>
	<h2 th:unless="${quizForm.isNew}">問題編集・更新</h2>
	<!--	アクション：登録 or 編集-->
	<form th:action="${quizForm.isNew} ? @{save} : @{/check}" th:object="${quizForm}" method="post">
		<!--		idは更新時に必要なため、hiddenで持つ-->
		<input type="hidden" th:field="*{id}">

		<!--		入力内容-->
		<!--		試験回数-->
		<label for="testNumberId">テスト回：第</label>
		<input type="text" id="testNumberId" th:field="*{testNumberId}" 
				       pattern="^(1(0[5-9]|[1-9][0-9]))$" 
				       title="3桁の数値を入力（105回から最新のテストまで）"
					   required><label>回</label>
		<span th:if="${#fields.hasErrors('testNumberId')}" th:errors="*{testNumberId}" style="color:red"></span><br>
		<!--		時間帯-->
		<label for="timeId">時間帯</label>
		<select id="timeId" th:field="*{timeId}" required>
			<option value="1">午前</option>
			<option value="2">午後</option>
		</select>
		<span th:if="${#fields.hasErrors('timeId')}" th:errors="*{timeId}" style="color:red"></span><br>
		<!--		問題番号-->
		<label for="questionNumber">問題番号</label>
		<select id="questionNumber" th:field="*{questionNumber}" required>
			<option th:each="i : ${#numbers.sequence(1,25)}" th:value="${i}" th:text="${i}">
			</option>
		</select>
		<span th:if="${#fields.hasErrors('questionNumber')}" th:errors="*{questionNumber}" style="color:red"></span><br>
		<!--		問題文-->
		<label for="question">問題文：</label>
		<input type="text" id="question" th:field="*{question}" required>
		<span th:if="${#fields.hasErrors('question')}" th:errors="*{question}" style="color:red"></span><br>
		
		<!--		問題関連画像-->
		<label for="imagePath">問題関連画像（（パス(/)）ファイル名入力）：</label>
		<input type="text" id="imagePath" th:field="*{imagePath}"
			pattern="^$|.*\\.(png|jpg)$" 
			title="画像ファイルは .png, .PNG, .jpg, .JPG のいずれかで指定してください">
		<span th:if="${#fields.hasErrors('imagePath')}" th:errors="*{imagePath}" style="color:red"></span><br>
		

		<!--		選択肢-->
		<table>
			<tr>
				<th>番号</th>
				<th>選択肢</th>
			</tr>

			<tr>
				<td><label for="choice1">1.</label></td>
				<td>
					<textarea id="choice1" rows="1" cols="100" th:field="*{choice1}" required></textarea>
					<span th:if="${#fields.hasErrors('choice1')}" th:errors="*{choice1}" style="color:red"></span>
				</td>
			</tr>

			<tr>
				<td><label for="choice2">2.</label></td>
				<td>
					<textarea id="choice2" rows="1" cols="100" th:field="*{choice2}" required></textarea>
					<span th:if="${#fields.hasErrors('choice2')}" th:errors="*{choice2}" style="color:red"></span>
				</td>
			</tr>

			<tr>
				<td><label for="choice3">3.</label></td>
				<td>
					<textarea id="choice3" rows="1" cols="100" th:field="*{choice3}" required></textarea>
					<span th:if="${#fields.hasErrors('choice3')}" th:errors="*{choice3}" style="color:red"></span>
				</td>
			</tr>

			<tr>
				<td><label for="choice4">4.</label></td>
				<td>
					<textarea id="choice4" rows="1" cols="100" th:field="*{choice4}" required></textarea>
					<span th:if="${#fields.hasErrors('choice4')}" th:errors="*{choice4}" style="color:red"></span>
				</td>
			</tr>

			<tr>
				<td><label for="choice5">5.</label></td>
				<td>
					<textarea id="choice5" rows="1" cols="100" th:field="*{choice5}"></textarea>
				</td>
			</tr>
		</table>
		<!--		答え-->
		<label for="ans">答え</label>
		<input type="number" id="ans" th:field="*{ans}" min="1" max="5" required>
		<span th:if="${#fields.hasErrors('ans')}" th:errors="*{ans}" style="color:red"></span><br>
		<!--		解説-->
		<br>
		<label for="explanation">解説</label>
		<textarea rows="10" cols="100" id="explanation" th:field="*{explanation}"></textarea>
<!--		<span th:if="${#fields.hasErrors('explanation')}" th:errors="*{explanation}" style="color:red"></span><br>-->
		<br>
		<!--		出題基準-->
		<label for="koumokuId">出題基準</label>
		<select id="koumokuId" th:field="*{koumokuId}" required>
			<option th:each="i : ${#numbers.sequence(1,16)}" th:value="${i}" th:text="${'sho_koumoku' + i}">
			</option>
		</select>
		<span th:if="${#fields.hasErrors('koumokuId')}" th:errors="*{koumokuId}" style="color:red"></span><br>
		<!--		ボタン：登録 or 更新-->
		<br>
		<br>
<!--		<button th:if="${quizForm.isNew}" type="submit">登録</button>-->
		<button th:if="${quizForm.isNew}" type="submit"
		        onclick="return confirm('この内容で登録しますか？')">登録</button>

		<button th:unless="${quizForm.isNew}" type="submit">編集確認</button>
	</form>
	<br>
	<a th:href="@{/list}">問題一覧へ</a>
	<br>
	<a th:href="@{/}">メニューへ戻る</a>

</body>

</html>