<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>問題一覧</title>
</head>

<body>
	<div sec:authorize="hasAuthority('ADMIN')">
		<header>
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="ログアウト">
			</form>
		</header>
	</div>
	<h2>登録済み問題一覧</h2>
	<!--	ID検索で対象のデータがない場合-->
	<p th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;"></p>
	<!--	更新時メッセージ-->
	<p th:if="${updateMessage}" th:text="${updateMessage}" style="color: blue;"></p>
	<!--	削除時メッセージ-->
	<p th:if="${deleteMessage}" th:text="${deleteMessage}" style="color: red;"></p>
	<a th:href="@{/}">メニューへ戻る</a>
	<hr>
	<table border="1">
		<thead>
			<tr>
				<th>ID</th>
				<th>回数</th>
				<th>元号・年</th>
				<th>西暦</th>
				<th>時間・問題</th>
				<th>問題文</th>
				<th>選択肢 1</th>
				<th>選択肢 2</th>
				<th>選択肢 3</th>
				<th>選択肢 4</th>
				<th>選択肢 5</th>
				<th>正解番号</th>
				<th>解説</th>
				<th>小項目</th>
				<th>中項目</th>
				<th>大項目</th>
				<th>目標</th>
				<th>編集</th>
				<th>削除</th>
			</tr>
		</thead>
		<div th:each="qa : ${quizAllList}">
			<tbody>
				<tr>
					<td th:text="${qa.id}">ID</td>
					<td th:text="|第${qa.testNumber.testNumberId}回|">回数</td>
					<td th:text="|${qa.testNumber.gengo.gengo}${qa.testNumber.gengoNen}年|">元号</td>
					<td th:text="|${qa.testNumber.seireki}年|">西暦</td>
					<td th:text="|${qa.time.time}問題 ${qa.questionNumber}|">時間・問題</td>
					<td th:text="${qa.question}">問題文</td>
					<td th:text="${qa.choice1}">選択肢1</td>
					<td th:text="${qa.choice2}">選択肢2</td>
					<td th:text="${qa.choice3}">選択肢3</td>
					<td th:text="${qa.choice4}">選択肢4</td>
					<td th:text="${qa.choice5}">選択肢5</td>
					<td th:text="${qa.ans}">正解番号</td>
					<td th:text="${qa.explanation}">解説</td>
					<td th:text="${qa.koumoku.sKoumoku}">小項目</td>
					<td th:text="${qa.koumoku.mkoumoku.mKoumoku}">中項目</td>
					<td th:text="${qa.koumoku.lkoumoku.lKoumoku}">大項目</td>
					<td th:text="${qa.koumoku.mokuhyo.mokuhyo}">目標</td>

					<td>
						<form th:action="@{/edit/{id}(id=${qa.id})}" method="get">
							<button type="submit">編集</button>
						</form>
					</td>
					<td>
						<form th:action="@{/pickUpDeleteQuestion}" method="get">
							<input type="hidden" name="id" th:value="${qa.id}">
							<button type="submit">削除</button>
						</form>
					</td>
				</tr>
			</tbody>
		</div>
</body>

</html>